*{
    margin: 0em;
}
body {
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    background-color: #0d162e;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navlink{
    color: #fff;
    margin-right: 0.5rem;
}
header{
    background-color:#b8b8ca;
}
a{
    text-decoration: none;
    color: white;
}

main {
    flex-grow: 1;

}
footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
footer ul li{
    margin-right: 0.9em;
}
footer a{
    color: #fff;
}

footer{
    background-color: #0d0418;
}
footer p{
    color: #fff;
    text-align: center;
}